<!DOCTYPE html>
<html>
  <head>
    <title>Releases - Amptone Records</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta charset="utf-8"/>
		<meta name="description" content="Official website for Amptone Records! Amptone records is a Shanghai-based record label."/>
		<meta name="copyright" content="Chan Woo Kim">
		<meta name="author" content="Chan Woo Kim"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/shared.css">
		<link rel="stylesheet" href="css/toggle.css">
		<link rel="stylesheet" href="css/standard.css">
		<link rel="stylesheet" href="css/releases.css">
  </head>
  <body>
    {{> nav}}
    <div class="menu-background" style="background-image:url('img/sample/sample4.jpg')">
			<h1>Releases</h1>
			<div class="tint"></div>
			<!--specific to artists-->
			<div class="background-artist-info">
				<h5>Amor Fati - Ray Tsao</h5>
			</div>
		</div>
    <div class="release-content">
      <div class="new-release">
        <h1>Featured Release</h1>
        <div class="new-release-wrap">
          <ul>
            <li class="imgli"><img src="img/sample/sample3.jpg" class="new-release-img"></li>
            <li>
              <div class="new-release-des">
                <h2>Chops</h1>
                <a href="#">Keam</a>
                <p class="new-release-date">February 9th 2017</p>
                <div class="new-release-div">
                  <button class="new-release-download">Download</button>
                  <button class="new-release-stream">Stream</button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <h1>More Releases</h1>
      <div class="rest-releases">
        <div class="row">
          <div class="col-md-4 rest-release">
            <div class="release-block">
              <img class="release-block-img" src="img/sample/sample1.jpg">
              <div class="release-des">
                <h4>Sample Song</h4>
                <p class="rest-release-date">March 9th 2017</p>
                <button class="standard-extend">Play</button>
              </div>
            </div>
            <div class="release-block">
              <img class="release-block-img" src="img/sample/sample2.jpg">
              <div class="release-des">
                <h4>Sample Song</h4>
                <p class="rest-release-date">March 9th 2017</p>
                <button class="standard-extend">Play</button>
              </div>
            </div>
          </div>
          <div class="col-md-4 rest-release">
            <div class="release-block">
              <img class="release-block-img" src="img/sample/sample3.jpg">
              <div class="release-des">
                <h4>Sample Song</h4>
                <p class="rest-release-date">March 9th 2017</p>
                <button class="standard-extend">Play</button>
              </div>
            </div>
            <div class="release-block">
              <img class="release-block-img" src="img/sample/sample4.jpg">
              <div class="release-des">
                <h4>Sample Song</h4>
                <p class="rest-release-date">March 9th 2017</p>
                <button class="standard-extend">Play</button>
              </div>
            </div>
          </div>
          <div class="col-md-4 rest-release">
            <div class="release-block">
              <img class="release-block-img" src="img/sample/sample5.jpg">
              <div class="release-des">
                <h4>Sample Song</h4>
                <p class="rest-release-date">March 9th 2017</p>
                <button class="standard-extend">Play</button>
              </div>
            </div>
            <div class="release-block">
              <img class="release-block-img" src="img/sample/sample6.jpg">
              <div class="release-des">
                <h4>Sample Song</h4>
                <p class="rest-release-date">March 9th 2017</p>
                <button class="standard-extend">Play</button>
              </div>
            </div>
          </div>
        </div>
        <button class="click-more-standard">Load More</button>

      </div>
      <div class="new-album">
        <h1>Featured Album</h1>
        <div class="new-release-wrap">
          <ul>
            <li class="imgli"><img src="img/sample/sample5.jpg" class="new-release-img"></li>
            <li>
              <div class="new-release-des">
                <h2>Validated</h1>
                <a href="#">King Ray</a>
                <p class="new-release-date">July 10th 2017</p>
                <div class="new-release-div">
                  <button class="new-release-download">Download</button>
                  <button class="new-release-stream">Stream</button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <h1>More Albums</h1>
      <div class="rest-releases">
        <div class="row">
          <div class="col-md-4 rest-release">
            <div class="release-block">
              <img class="release-block-img" src="img/sample/sample5.jpg">
              <div class="release-des">
                <h4>Validated</h4>
                <h5>King Ray</h5>
                <p class="rest-release-date">March 9th 2017</p>
                <button class="standard-extend">Play</button>
              </div>
            </div>
          </div>
          <div class="col-md-4 rest-release">
            <div class="release-block">
              <img class="release-block-img" src="img/sample/sample1.jpg">
              <div class="release-des">
                <h4>Dance</h4>
                <h5>Keam</h5>
                <p class="rest-release-date">March 9th 2017</p>
                <button class="standard-extend">Play</button>
              </div>
            </div>

          </div>
          <div class="col-md-4 rest-release">
            <div class="release-block">
              <img class="release-block-img" src="img/sample/sample6.jpg">
              <div class="release-des">
                <h4>Love</h4>
                <h5>Kenjie Chee</h5>
                <p class="rest-release-date">March 9th 2017</p>
                <button class="standard-extend">Play</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{> footer}}
    <script src="scripts/jquery-3.2.1.js"></script>
		<script src="scripts/bootstrap.js"></script>
		<script
  src="https://code.jquery.com/color/jquery.color.plus-names-2.1.2.min.js"
  integrity="sha256-Wp3wC/dKYQ/dCOUD7VUXXp4neLI5t0uUEF1pg0dFnAE="
  crossorigin="anonymous"></script>
  	<script src="scripts/jq.js"></script>
  </body>
</html>
