<!DOCTYPE html>
<html>
  <head>
    <title>Amptone Records: Ray Tsao</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8"/>
		<meta name="description" content="Official website for Amptone Records! Amptone records is a Shanghai-based record label."/>
		<meta name="copyright" content="Chan Woo Kim">
		<meta name="author" content="Chan Woo Kim"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/shared.css">
		<link rel="stylesheet" href="/css/standard.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/toggle.css">
		<link rel="stylesheet" href="/css/main-page-rest.css">
    <link rel="stylesheet" href="/css/specific-artists-style.css" />
    <script src="/scripts/soundcloud-api.js"></script>
  </head>
  <body>
    {{>nav}}
    <script>
      var oneOfThoseNotFancyPages = true;
    </script>
    <style>

    </style>
    <div class="contain">
      <div class="first-display-contain">
        <div class="row">
          <div class="col-md-6">
            <div class="contain-artist-info">
              <h1 class="artist-name-display-heading">Ray Tsao</h1>
              <p class="artist-description-display">
                On May 25, 2001, the world of rap music would never be the same again.  Hailing from the city of Taipei, Ray Tsao is a Hip-Hop artist currently residing in Shanghai, as a Junior at SAS. Ranging from his very first attempts at making music in 8th grade, to the release of his first full length project, “Validated”, in 10th grade, Ray’s passion and interest in rapping has persisted as a driving force in his life. As the executive of Amptone Records, he hopes not only to develop a platform where anyone can express their musical desires but also to inspire others in all walks of music.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <img class="artist-full-image" src="/img/ray-photo.jpg" />
          </div>
        </div>
      </div>
      <div class="featured-song-contain">
        <h1 class="featured-song-label">Featured song</h1>
        <div class="contain-featured-song">
          <div class="row">
            <div class="col-md-4">
              <img class="featured-song-specific-artist-image" src="/images/17.jpg" />
            </div>
            <div class="col-md-8">
              <div class="contain-specific-artist-featured-song">
                <h3 class="specific-artist-featured-song-name">
                  Woah
                </h3>
                <p class="featured-song-album">
                  <i>Validated Pt. 2</i>
                </p>
                <p class="featured-song-description">
                  The first single off of Ray’s upcoming sophomore mixtape, “Woah” expresses the rapper’s youthful exuberance and his rebellious attitude. Produced by Nayz, every aspect of the song is wavy, playful, and creative. Release date to be determined.
                </p>
                <a class="featured-song-link" href="{{data.artists.featuredSongLink}}">
                  <span>Listen</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="albums-contain">
        <h1 class="albums-contain-label">Albums</h1>
          <div class="one-album">
            <div class="row">
              <div class="col-md-5">
                <iframe class="iframe" height="465" scrolling="no" frameborder="no"
                src="https://w.soundcloud.com/player/?url=https://soundcloud.com/theofficialraypage/sets/validated">
                </iframe>
              </div>
              <div class="col-md-7">
                <div class="contain-specific-artist-featured-song">
                  <h3 class="specific-artist-featured-song-name album-name">
                    Validated
                  </h3>
                  <p class="featured-song-album album-date">
                    <i>9/21/2017</i>
                  </p>
                  <p class="featured-song-description album-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    {{>footer}}
    <script src="/scripts/jquery-3.2.1.js"></script>
    <script src="/scripts/bootstrap.js"></script>
    <script
src="https://code.jquery.com/color/jquery.color.plus-names-2.1.2.min.js"
integrity="sha256-Wp3wC/dKYQ/dCOUD7VUXXp4neLI5t0uUEF1pg0dFnAE="
crossorigin="anonymous"></script>
    <script src="/scripts/jq.js"></script>
  </body>
</html>
