<!DOCTYPE html>
<html>
  <head>
    <title>Team - Amptone Records</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta charset="utf-8"/>
		<meta name="description" content="Official website for Amptone Records! Amptone records is a Shanghai-based record label."/>
		<meta name="copyright" content="Chan Woo Kim">
		<meta name="author" content="Chan Woo Kim"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/shared.css">
		<link rel="stylesheet" href="css/toggle.css">
		<link rel="stylesheet" href="css/standard.css">
		<link rel="stylesheet" href="css/team.css">
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121674910-2"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-121674910-2');
		</script>


  </head>
  <body>
  	{{> nav}}

  	<div class="menu-background">
		<h1>The Team</h1>
		<div class="tint"></div>
	</div>
	<div class="team-contain">
		<h1 class="team-title">The Exectutive Team</h1>
		<div class="row team-zigzag">
			<div class="center-block one-team-member-contain float-left">
				<img src="/img/ray-photo.jpg" class="team-member-image float-left"/>
				<div class="contain-member-info float-right">
					<h1 class="team-member-name">Ray Tsao</h1>
					<h2 class="team-member-title">Chief Executive Officer</h2>
					<p class="team-member-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
	 		</div>
	 		<div class="one-team-member-contain float-right">
				<img src="/img/chan-woo-photo.jpg" class="team-member-image float-right"/>
				<div class="contain-member-info float-left">
					<h1 class="team-member-name">Chan Woo Kim</h1>
					<h2 class="team-member-title">Chief Technical Officer</h2>
					<p class="team-member-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
	 		</div>
	 	</div>
	 	<div class="team-block">
	 		<div class="one-team-member-contain-block">
		 		<img src="/img/ray-photo.jpg" class="team-member-image-block"/>
				<h1 class="team-member-name">Ray Tsao</h1>
				<h2 class="team-member-title">Chief Executive Officer</h2>
				<p class="team-member-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="one-team-member-contain-block">
				<img src="/img/chan-woo-photo.jpg" class="team-member-image-block"/>
				<h1 class="team-member-name">Chan Woo Kim</h1>
				<h2 class="team-member-title">Chief Technical Officer</h2>
				<p class="team-member-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
	 	</div>
		</div>
		<div class="officers-contain">
		 	<div class="row">
		 		{{#each data.teamMembers}}
		 			<div class="col-md-4 contain-asso">
		 				{{#each this}}
		 				<div class="contain-asso">
				 			<img class="asso-img" src="{{image.url}}">
				 			<div class="contain-asso-info">
				 				<h1 class="asso-name">{{name}}</h1>
				 				<h2 class="asso-title">{{position}}</h2>
				 				<p class="asso-des">{{description}}</p>
				 			</div>
				 		</div>
		 				{{/each}}
		 			</div>
		 		{{/each}}
		 	</div>
		 </div>

	</div>
    {{> footer}}
    <script src="scripts/jquery-3.2.1.js"></script>
	<script src="scripts/bootstrap.js"></script>
	 <script src="scripts/jq.js"></script>

  </body>
</html>