.row{
	margin: auto;
	padding:0;

}
.containContent{
	margin-bottom:50px;
}

.content h1{
	margin: auto;
	display: table;
	font-weight:600;
	margin-bottom:10vh;
	border-bottom: 5px solid #000;
	border-radius: 5px;
	padding-bottom: 3px;
	font-size:50px;

}
.release-container{
	margin:auto;
	width:250px;
	height:100%;
	margin-bottom:50px;
}

.release-img{
	position:relative;
	width:100%;
	height:auto;
	margin:auto;

}
.standard-title{
	font-size:20px;
	font-weight:600;
}

.this-standard{
	font-size:16px;
	opacity:0.7;
	margin-top:3vh;
	margin-bottom:3vh;
}

.standard-des{
	color:gray;
	opacity:0.7;
	font-weight:600;
	margin:3vh 10px;
}
.clickMore{
	width:100%;
	margin:10vh 0px;
	text-align:center;
	margin-top:0;
}


@media(min-width:990px){
	.release-container{
		width:300px;
	}
}

@media(min-width:1100px){
	.release-container{
		width:350px;
	}
}
@media(min-width:1600px){
	.release-container{
		width:500px;
	}
}


@media(max-width:990px){
	.release-container{
		width:500px;
	}
}
@media(max-width:700px){
	.release-container{
		width:95%;
	}
	.content h1{
		font-size:9vw;
	}

}
#third-col{
		margin-bottom:10px;
}


/*RELEASE BUTTONS*/
.standard-extend{
	background:none;
	border: 2px solid #0D121C;
	padding:11px;
	padding-left: 50px;
	padding-right:50px;
	color: #0D121C;
	font-size:20px;
	margin-top:10px;
	margin-bottom:5vh;
}
.standard-extend:hover{
	border: 2px solid #0D121C;
	background-color:#0D121C;
	color:white;
}

.click-more-standard{
	border: 2px solid #0D121C;
	background-color:#0D121C;
	color:white;
	padding:11px;
	padding-left: 50px;
	padding-right:50px;
	font-size:2em;
}

.click-more-standard:hover{
	background:none;
	border: 2px solid #0D121C;
	color: #0D121C;
}



.event-contain{
	margin:3vw;
}

.event-date{
	font-size:16px;
}
