.menu-background{
	width:100vw;
	height:100vh;
	background-position: center;
	background-size:cover;
	background-repeat: no-repeat;
	position:relative;
	margin:0;
}
.menu-background h1{
	position:absolute;
	width:100%;
	text-align:center;
	margin-top:25vh;
	color:white;
	z-index: 10;
	font-size:85px;
}
@media(max-width:650px){
	.menu-background h1{
		font-size:60px;
	}
}
.background-artist-info{
	position:absolute;
	float:left;
	margin-left:5vw;
	margin-bottom:20vh;
	color:#0D121C;
	background-color:white;
	z-index:10;
	padding:30px;
	bottom:5vw;
}


.background-artist-info h5{
	font-size:40px;
	font-weight:800;
	width:100%;
	text-align:center;
}
.background-artist-info p{
	font-size:20px;
	font-weight:300;
	width:100%;
	text-align:center;
}

.footer{
	background-color:#0D121C;
	bottom:0;
	width:100%;
	padding-top:20px;
	padding-bottom:20px;
}
.footer img{
	display:block;
	margin:40px auto;
}

.footer h1{
	width:100%;
	text-align:center;
	color:white;
	font-size:50px;
	font-weight:100;
}
.footer p{
	width:100%;
	text-align:center;
	color:white;
	font-size:15px;
	font-weight:300;
}

.footer-button-contact{
	padding:15px 40px;
	background:none;
	border:1.5px solid white;
	color:white;
	font-weight:100;
	font-size:20px;
	display:block;
	margin:auto;
	margin-bottom:50px;
}
.footer button.footer-button-contact:hover{
	border-color:white;
	background-color:white;
	color:#0D121C;
}
.footer .follow-contain ol{
	margin:0;
	margin:auto;
	text-align: center;
}
.footer .follow-contain ol li{
	display:inline-block;
}

.footer .fa{
	font-size:40px;
}

@media(max-width:950px){
	.menu-background h1{
		font-size:65px;
		margin-top:28vh;
	}
	.background-artist-info h5{
		font-size:25px;
	}
	.background-artist-info p{
		font-size:25px;
	}
}
@media(max-width:650px){
	.menu-background h1{
		font-size:55px;
		margin-top:30vh;
	}
	.background-artist-info{
		padding:18px;
		margin-bottom:25vh;
	}
	.background-artist-info h5{
		font-size:18px;
	}
	.background-artist-info p{
		font-size:15px;
	}
	.footer-button-contact{
		padding:10px 30px;
		font-size:18px;
		border: 1px solid white;
	}
	.footer p{
		font-size:10px;
	}
	.footer .fa{
		font-size:30px;
	}

}

@media(max-width:350px){
	.menu-background h1{
		font-size:50px;
	}
	.background-artist-info{
		padding:18px;
		margin-bottom:30vh;
	}

}
