<style>
#contact-link-footer{
	text-decoration:none;
	color:white;
}
#contact-link-footer:hover{
	color:black;
}
</style>

<div class="footer">
			<img id="logoimg" class="logoimg" src="/img/logo.png">
			<div class="toggle-follow">
				<div class="follow-contain">
					<ol>
						<li><a href="https://www.youtube.com/channel/UCtBuc7YIpA6gYphpm7YcmKA/videos" class="aicon"><i class="fa fa-youtube"></i></a></li>
						<li><a href="https://www.instagram.com/amptonerecords/" class="aicon"><i class="fa fa-instagram"></i></a></li>
						<li><a href="https://soundcloud.com/amptonerecords" class="aicon"><i class="fa fa-soundcloud"></i></a></li>
					</ol>
				</div>
			</div>
				<button href="#" class="footer-button-contact"><a id="contact-link-footer" href="/contact">Contact us</a></button>
			<p>Copyright © 2017 Amptone. All rights reserved.</p>
</div>
