<script src="scripts/jquery-3.2.1.js"></script>
<script src="/scripts/navbar.js"></script>
<div id="navBar">
			<a class="above-background" href="/"><img class="logoimg"src="/img/logo.png"></a>
			<button id="toggle" class="navbar-toggle above-background" data-target=".navHeaderCollapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="above-background" id="menuText">Menu</a>
</div>
<div id="animateBackground">
</div>
<style>
.container{
}
#navBar{
	padding:20px 40px;
}
.above-background{
	position: relative;
	z-index:5;
}
#animateBackground{
	width:100%;
	height:110px;
	position:fixed;
	top:0;
	bottom:0;
	z-index:4;
}
@media(max-width:700px){
	#animateBackground{
		height:82px;
	}
}
</style>
		<div id="toggleNav">
			<div class="togggle-content">
				<div class="toggle-back">

					<button id="navBack"><img src="/img/arrow.png" class="arrow"></img><p>BACK</p></button>
				</div>
				<div class="toggle-navigation col-md-6">
					<div class="toggle-title">
						<h1>NAVIGATION</h1>
						<div class="line"></div>
					</div>
					<div class="navigation-content">
						<ol>
							<li><a class="{{#if athome}}active{{/if}}" href="/">HOME</a></li>
							<li><a class="{{#if atartist}}active{{/if}}" href="/artists">ARTISTS</a></li>
							<li><a class="{{#if atevent}}active{{/if}}" href="/events">EVENTS</a></li>
							<li><a class="{{#if atmerch}}active{{/if}}" href="/merchandise">MERCH</a></li>
							<li><a class="{{#if atcontact}}active{{/if}}" href="/contact">CONTACT</a></li>
						</ol>
					</div>
				</div>

				<div class="toggle-subscribe col-md-6">
					<div class="toggle-title">
						<h1>SUBSCRIBE</h1>
						<div class="line"></div>
					</div>

					<div class="subscribe-contain">
						<div class="empty">
							<h1>You have been subscribed!</h1>
						</div>
					</div>
					<form id="emailform" class="subscribe-contain subscribe-og">
						<ol>
							<li><p>Subscribe to be the first to know for new releases and events. <span class="wrong">Please fill out the correct information</span></p></li>
							
							<li class="buttonLI"><button id="submitEmail" type="submit"><a style="color: white" href='/subscribe' id="sub">Subscribe</a></button></li>
							<style>
								#sub:hover{
									color:black;
								}
							</style>
						</ol>
					</form>
				</div>
				<div class="toggle-follow col-md-6">
					<div class="toggle-title">
						<h1>FOLLOW US</h1>
						<div class="line"></div>
					</div>
					<div class="follow-contain">
						<ol>
							<li><a href="https://www.youtube.com/channel/UCtBuc7YIpA6gYphpm7YcmKA/videos" class="aicon"><i class="fa fa-youtube"></i></a></li>
							<li><a href="https://www.instagram.com/amptonerecords/" class="aicon"><i class="fa fa-instagram"></i></a></li>
							<li><a href="https://soundcloud.com/amptonerecords" class="aicon"><i class="fa fa-soundcloud"></i></a></li>
						</ol>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script src="./scripts/build.js"></script>
